.full-view {
  height: 100vh;
  background-color: lightblue;
  font-size: 3em;
}

@media only screen and (max-width: 375px) {
  .skill-text {
    font-size: 1em;
  }

  .about-bg {
    height: 100vh;
  }
}

.menu-bg {
  background-color: rgba(0, 0, 0, 0.5);
}

.landing-bg {
  background-image: url('images/background.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

.about-bg {
  height: 70vh;
}

.about-me {
  background-color: white;
  border: 1px solid #cecece;
  box-shadow: 0px 0px 3px 1px #cecece;
  margin: 3px;
}

.my-photo {
  height: 15em;
  width: 15em;
  object-fit: cover;
  border-radius: 50%;
}

.projects-bg {
  height: 120vh;
}

.grow {
  transition: all 0.6s ease-in-out;
}

.grow:hover {
  transform: scale(1.2);
}

.overflow-hidden {
  overflow: hidden;
}

.project-shadow {
  box-shadow: 0 13px 8px -10px rgba(0,0,0,.1);
}

.skills-bg {
  height: 100vh;
  background-color: lightslategray;
}

.skill-card {
  border: 0;
  background-color: transparent;
}

.skill-text {
  text-align: center;
  font-size: 1.5em;
}
